@model IEnumerable<GetProductDto>

<div class="container-fluid">
    <div class="row">
        <!-- Kategoriler (3 birim) -->
        <div class="col-md-3">
            @await Component.InvokeAsync("CategoryList")
        </div>

        <!-- Ürünler (9 birim) -->
        <div class="col-md-9">
            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="product-image-container">
                                <img src="@product.ImageUrl" class="card-img-top product-image" alt="@product.Name">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@product.Name</h5>
                                <p class="card-text">@product.Description</p>
                                <p class="card-text"><strong>Price:</strong> @product.Price.ToString("C")</p>
                                <p class="card-text"><strong>Stock:</strong> @product.Stock</p>
                                <div class="btn btn-group">
                                    <a asp-action="Detail" asp-route-id="@product.Id" class="btn btn-primary">Ürün Detay</a>

                                    <form id="@product.Id" asp-page="/Cart" method="post">
                                        <input name="id" value="@product.Id" type="hidden">
                                        <input type="hidden" name="returnUrl" value="/">
                                        <button type="submit" class="btn btn-success">
                                            Sepete Ekle
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>